<%- include('../admin/layouts/adminHeader') %>
<div class="col-lg">
  <div class="card">
    <div class="card-body">
      <div style="display: flex; justify-content: space-between">
        <h5 class="card-title">Categories</h5>
        <div>
          <form action="/admin/categories/addcategory" method="get">
            <button class="btn btn-success me-md-2" type="submit">
              Add catogery
            </button>
          </form>
        </div>
      </div>
      <br/>
      <div class="table-responsive">
        <table id="dtBasicExample" class="table" width="100%">
          <thead>
            <tr>
              <th class="th-sm">Name</th>
              <th class="th-sm">Description</th>
              <th class="th-sm">Status</th>
              <th class="th-sm">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% categoryList.forEach(category =>{%>
            <tr>
              <td><%=category.category%></td>
              <td><%=category.description%></td>
              <td><%=category.status%></td>
              <td><a class="btn btn-warning me-md-2" href="/admin/categories/editcategory/<%= category._id %>">Edit</a></td>
            </tr>
            <%}) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- <script>
  $(document).ready(function () {
    $("#dtBasicExample").DataTable();
    $(".dataTables_length").addClass("bs-select");
  });
</script> -->
