<%- include('../admin/layouts/adminHeader') %>
<div class="col-lg" style="padding: 30px;">
  <div class="card"  style="height: 100vh;">
    <div class="card-body" >
      <form action="/admin/editcategory/<%=category._id%>" method="post">
        <div class="form-group">
          <label>Category Name</label>
          <input
            type="text"
            value="<%=category.category%>"
            class="form-control"
            name="category"
            required
          />
        </div>
        <div class="form-group" style="padding-top: 15px;">
          <label>Description</label>
          <input
            type="text"
            value="<%=category.description%>"
            class="form-control"
            name="description"
            required
          />
        </div>
        <div style="padding-top: 15px;">
        <select name="status" >
            <option value="list">List</option>
            <option value="unlist">Unlist</option>
          </select>
        </div>
        <div style="padding-top: 60px;">
        <button type="submit" class="btn btn-primary" >Update</button>
    </div>

    

        
    
      </form>

      <p style="color: rgb(255, 17, 17)"><%= message %></p>
    </div>
  </div>
</div>
