<%- include('../admin/layouts/adminHeader') %>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<div class="col-lg" style="padding: 30px;">
  <div class="card"  style="height: 100vh;">
    <div class="card-body" >
      <form action="/admin/coupons/editcoupon/<%=couponData._id%>" method="post">
        <div class="form-group">
          <label>Coupon Code</label>
          <input
            type="text"
            value="<%=couponData.code%>"
            class="form-control"
            name="code"
            required
          />
        </div>
        <div class="form-group" style="padding-top: 15px;">
          <label>Discount</label>
          <input
            type="number"
            value="<%= couponData.discount%>"
            class="form-control"
            name="discount"
            required
          />
        </div>
        <div class="form-group" style="padding-top: 15px;">
          <label>Minimum Purchase Amount</label>
          <input
            type="number"
            value="<%= couponData.minimum_purchase%>"
            class="form-control"
            name="minimum_purchase"
            required
          />
        </div>
        <div class="form-group" style="padding-top: 15px;">
            <label>Expiry Date</label>
            <input
              type="text"
              id="datepicker"
              value="<%= couponData.expiry.toISOString().substring(0,10)%>"
              class="form-control"
              name="expiry"
              required
            />
          </div>
          <div >
            <input type="radio" id="html" name="status" value="Active" required >
            <label for="html">Active</label><br>
            <input type="radio" id="css" name="status" value="Deactive" required>
            <label for="css">Deactive</label><br>
          </div>
       
        <div style="padding-top: 60px;">
          <button type="submit" class="btn btn-primary" >Update</button>
        </div>
      </form>
      <p style="color: rgb(255, 17, 17)"><%= message %></p>
    </div>
  </div>
</div>

<script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>