<%- include('../admin/layouts/adminHeader') %>
<div class="col-lg" style="margin-left: 0px;margin-right: 0px; height: 100vh;" >
  <div class="card"  style="height: 100vh;">
    <div class="card-body" style="overflow: auto;">
      <form action="/admin/products/editproduct/<%=product._id%>" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label>Product Name</label>
          <input type="text" value="<%=product.product%>" class="form-control" name="product" required />
        </div>
        <div class="form-group" style="padding-top: 15px;">
          <select class="form-control" name="category" >
            <% categoryList.forEach(category => {%>
              <option value="<%=category._id%>"><%=category.category%></option>
            <%}) %>
          </select>
        </div>
        <div class="form-group" style="padding-top: 15px;">
          <label>Description</label>
          <input type="text" value="<%=product.description%>" class="form-control" name="description" required />
        </div>
        <div></div>
        <div class="form-group" id="image-group" style="padding-top: 15px;">
          
          <style>
            .imgView {
                display: inline-block;
                position: relative;
                margin-right: 10px; 
            }
            .imgView button {
                position: absolute;
                border: none;
                background-color: transparent;
                top: 0;
                right: 0;
            }
        </style>
        <div>
          <% if (product.image0) { %>
            <div class="imgView">
              <img src="/uploads/<%= product.image0 %>" alt="" style="height: auto;width: 100px;">
              <button class="delete-btn" data-image="<%= product.image0 %>">x</button>
            </div>
          <% } %>
          <% if (product.image1) { %>
            <div class="imgView">
              <img src="/uploads/<%= product.image1 %>" alt="" style="height: auto;width: 100px;">
              <button class="delete-btn" data-image="<%= product.image1 %>">x</button>
            </div>
          <% } %>
          <% if (product.image2) { %>
            <div class="imgView">
              <img src="/uploads/<%= product.image2 %>" alt="" style="height: auto;width: 100px;">
              <button class="delete-btn" data-image="<%= product.image2 %>">x</button>
            </div>
          <% } %>
          <% if (product.image3) { %>
            <div class="imgView">
              <img src="/uploads/<%= product.image3 %>" alt="" style="height: auto;width: 100px;">
              <button class="delete-btn" data-image="<%= product.image3 %>">x</button>
            </div>
          <% } %>
        </div>
          
        </div>
        <div class="form-group">
      
          <div class="custom-file-upload">
            <input id="primary" style="width: 110px;" type="file" accept="image/*" class="form-control" name="image0" >
            <span>Primary Image</span>
          </div>
          
          <div class="custom-file-upload">
            <input style="width: 110px;" type="file" accept="image/*" class="form-control" name="image1" >
            <span>Second Image</span>
          </div>
    
          <div class="custom-file-upload">
            <input style="width: 110px;" type="file" accept="image/*" class="form-control" name="image2" >
            <span>Third Image</span>
          </div>
    
          <div class="custom-file-upload">
            <input style="width: 110px;" type="file" accept="image/*" class="form-control" name="image3"  >
            <span>Fourth Image</span>
          </div>
        </div>
        <div class="form-group" style="padding-top: 15px;">
          <label>Stock</label>
          <input type="number" value="<%=product.stock%>" class="form-control" name="stock" required />
        </div>
        <div class="form-group" style="padding-top: 15px;">
          <label>Price</label>
          <input type="number" value="<%=product.price%>" class="form-control" name="price" required />
        </div>
        <div class="form-group">
          <label >Offer</label>
          <input type="number" value="<%=product.offer%>" class="form-control" name="offer"  />
        </div>
        <div style="padding-top: 15px;">
          <select name="status" >
            <option value="list">List</option>
            <option value="unlist">Unlist</option>
          </select>
        </div>
        <div style="padding-top: 60px;">
          <button type="submit" class="btn btn-primary" >Update</button>
        </div>     
      </form>
    </div>
  </div>
</div>
<script>
  const images =  document.getElementsByClassName('imgView');
  const group = document.getElementById('image-group');
  function viewImage(event){
    console.log(images.length)
    const files = Array.from(event.target.files)
    files.forEach((file, index)=> {
        if (index < images.length) {
            images[index].src=URL.createObjectURL(file)
        }
    })  
    if (files.length > images.length) {
      const times = files.length - images.length;
      for (let i = 0; i < times; i++) {
            const file = files[images.length - 1 + i]
            const src = URL.createObjectURL(file)
            group.innerHTML += `<img src="${src}" alt="" style="height: auto;width: 100px;" class="imgView">`
          } 
    }
  }
</script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<% if (editproduct) {%>
  <script>
       swal("Good job!", "You edited the Product!", "success");
  </script>
  <% } %> 


  
<style>
  .custom-label {
    font-size: 16px;
    color: #b76161;
    font-weight: bold;
  }
  
  .custom-file-upload {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 10px;
  }
  
  .custom-file-upload input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  
  .custom-file-upload span {
    display: inline-block;
    padding: 5px;
    background-color: #45bbd6;
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
    height: 35px;
  }
  
  .custom-file-upload:hover span {
    background-color: #e80d0d;
  }
  
  </style>
  
<script>
  const deleteButtons = document.querySelectorAll('.delete-btn');
  deleteButtons.forEach(button => {
    button.addEventListener('click', async () => {
      const productId = button.dataset.productId;
      const imageIndex = button.dataset.imageIndex;
      const response = await fetch(`products/editproduct/${productId}/image/${imageIndex}`, {
        method: 'DELETE',
      });
      if (response.ok) {
        // remove the deleted image element from the DOM
        button.parentElement.remove();
      } else {
        // handle error
      }
    });
  });
</script>
