<%- include('../admin/layouts/adminHeader')%>
<div class="col-lg">
    <div class="card">
      <div class="card-body">
        <div style="display: flex; justify-content: space-between">
          <h5 class="card-title"></h5>
          <div>
            <form action="/admin/usermanagment/adduser" method="get">
              <button class="btn btn-success me-md-2" type="submit">
                Add User
              </button>
            </form>
          </div>
        </div>
        <br />
  
        <div class="table-responsive">
          <table class="table table-hover">
            <thead style="">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Mobile</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
               
              </tr>
            </thead>
            <tbody style="">
              <% userlist.forEach(user => {%>
              <tr>
                <td><%=user.name%></td>
                <td><%=user.email%></td>
                <td><%=user.mobile%></td>
                <td><%=user.status%></td>
                
                
                <td  style="align-items: center;justify-content: center;">
                  <div>
                  <a href="/admin/usermanagment/edituser/<%= user._id %>"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg></a>
  
  
               
  
              </div></td>
                <%}) %>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function () {
      $("#dtBasicExample").DataTable();
      $(".dataTables_length").addClass("bs-select");
    });
  </script>