  <%- include('../users/layouts/head')%>
  <%- include('../users/layouts/header') %> 
<main class="page-wrapper">
    <!-- Navbar Marketplace-->
    <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page.-->
    
    <!-- Page Title-->
    <div class="page-title bg-success pt-4">
      <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
              <li class="breadcrumb-item"><a class="text-nowrap" href="index.html"><i class="ci-home"></i>Home</a></li>
              <li class="breadcrumb-item text-nowrap"><a href="marketplace-category.html">Market</a>
              </li>
              <li class="breadcrumb-item text-nowrap active" aria-current="page">Checkout</li>
            </ol>
          </nav>
        </div>
        <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
          <h1 class="h3 text-light mb-0">Checkout</h1>
        </div>
      </div>
    </div>
    <div class="container mb-5 pb-3">
      <div class="bg-light shadow-lg rounded-3 overflow-hidden">
        <div class="row">
          <!-- Content-->
          <section class="col-lg-8 pt-2 pt-lg-4 pb-4 mb-3">
            <div class="pt-2 px-4 pe-lg-0 ps-xl-5">
              <!-- Title-->
              <h2 class="h6 border-bottom pb-3 mb-3">Billing details</h2>
              <!-- Billing detail-->
              <button style="color: rgb(26, 194, 0);background-color: aliceblue;border: 1px solid white;height: 48px;width: 809px;"><img src="https://cdn2.iconfinder.com/data/icons/thin-line-color-1/21/06-1024.png" style="height:24px;width:23px;padding-bottom: 2px;" alt="">  <a style="color: #48cb4c;" href="/profile/addaddress">Add New Address</a></button>
              <div></div>
              <div class="form-check ">
                <div>
            <form action="" method="POST" id="submit-form">
              
              <% userAddresses?.addresses.forEach(address => {%>
                <div class="d-flex mt-3">
                 
                  
                    
                    <div style="border: 1px solid #dadada;height: 100px;width:615px;text-align:left;padding-top: 0%;display: flex;margin-left: 10px;">
                      <label for="">
                      <input class="form-check-input" type="radio" name="address" value="<%= address._id%>" id="flexRadioDefault1" required>
                        <p><%= address.name%><br> 

                          <%= address.street%>
                          <%= address.locality%>
                          <%= address.city%><br>
                          <%= address.country%>
                          <%= address.state%>-
                          <%= address.pincode%><br>
                          <%= address.mobile%></p>
                    
                    </div>
                    

                </div>
              <% }) %>
              
              </div>
             
              
             <div style="margin-top: 30px;"><h3>Payment Method</h3></div>
             <input class="form-check-input" type="radio" name="payment" value="cod" id="flexRadioDefault1" required>
                <label class="form-check-label" for="flexRadioDefault1">COD</label>
                <div>
                  <input class="form-check-input" type="radio" name="payment" value="online" id="flexRadioDefault1" required>
                <label class="form-check-label" for="flexRadioDefault1">Online Payment</label>
                </div>
                

              <!-- Order preview on mobile (screens small than 991px)-->
              <% let total1=0 %>
              <div class="widget mb-3 d-lg-none">
                <h2 class="widget-title">Order summary</h2>
                <% userCart.products.forEach(product=> {%>
                <div class="d-flex align-items-center pb-2 border-bottom"><a class="d-block flex-shrink-0 me-2" href="/singleproduct/<%= product.proId %>"><img class="rounded-1" src="<%= product.image %>" width="64" alt="Product"></a>
                  <div class="ps-1">
                    <h6 class="widget-product-title"><a href="/singleproduct/<%= product._id %>"><%= product.name%></a></h6>
                    <div class="widget-product-meta"><span class="text-accent border-end pe-2 me-2">RS:<%= (product.price)*(product.quantity)%><small>.00</small></div>
                  </div>
                </div>
                <%total1 += (product.price)*(product.quantity) %>
                <% }) %>
                <ul class="list-unstyled fs-sm pt-3 pb-2 border-bottom">
                  <li class="d-flex justify-content-between align-items-center"><span class="me-2">Total:</span><span class="text-end">RS.<%= total1%><small>.00</small></span></li>
                  
                </ul>
              </div>
             
                
                <h3 class="fw-normal text-end  my">Total:      RS.<%= userCart.subTotal%><small>.00</small></h3>
            
                <a > <button class="btn btn-success d-block w-100"  type="submit"> Place order</button></a>
              
            </form>
            </div>
          </section>
          <!-- Sidebar-->
          <!-- Order preview on desktop (screens larger than 991px)-->
          <aside class="col-lg-4 d-none d-lg-block ps-xl-5">
            <hr class="d-lg-none">
            <div class="p-4 h-100 ms-auto border-start">
              <div class="widget px-lg-2 py-2 mb-3">
                <h2 class="widget-title text-center">Order summary</h2>
               
                <% userCart.products.forEach(product=> {%>
                <div class="d-flex align-items-center pb-2 border-bottom"><a class="d-block flex-shrink-0 me-2" href="/singleproduct/<%= product.proId._id %>"><img class="rounded-1" src="<%= product.image %>" width="64" alt="Product"></a>
                  <div class="ps-1">
                    <h6 class="widget-product-title"><a href="/singleproduct/<%= product.proId._id %>"><%= product.name%></a></h6>
                    <div class="widget-product-meta"><span class="text-accent border-end pe-2 me-2">RS:<%= (product.price)*(product.quantity) %><small>.00</small></span>Quantity:<%=product.quantity %></div>
                  </div>
                </div>
                <% }) %>
                <ul class="list-unstyled fs-sm pt-3 pb-2 border-bottom">
                  <li class="d-flex justify-content-between align-items-center" id="total2"><span class="me-2" >Total:</span><span class="text-end">RS.<%= userCart.subTotal%><small>.00</small></span></li>
                </ul>
              </div>
              
              <style>
                .accordion {
                  color: black;
                  font-size: medium;
                  font-family: revert;
                }
              </style>
              <!-- PROMOCODE -->
              <div class="accordion-item">
                <h3 class="accordion-header"><a class="accordion " href="#coupon-code" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="coupon-code">Apply Coupon code</a></h3>
                <div class="accordion-collapse collapse show p-2" id="coupon-code" data-bs-parent="#order-options">
                  <form id="couponForm" class="accordion-body needs-validation" method="post" novalidate>
                    <div id="success" class="alert alert-success" role="alert" style="display: none">
                      Coupon applied!
                    </div>
                    <div id="notsuccess" class="alert alert-danger" role="alert" style="display: none">
                      Minimum amount required!
                    </div>
                    <div id="expired"  class="alert alert-danger" role="alert" style="display: none;">
                      Coupon Expired!
                    </div>
                    <div id="error"  class="alert alert-danger" role="alert" style="display: none;">
                      Invalid coupon!
                    </div>

                    <input type="number" id="total" name="total" class="d-none" required value="<%= userCart.subTotal%>">
                      <input class="form-control" type="text" id="code"  placeholder="Coupon Code" name="code" required>
                    <button class="btn btn-outline-primary d-block w-100 mt-2" type="submit">Apply promo code</button>
                  </form>
                </div>
              </div>
            </div>


          </aside>
        </div>
      </div>
    </div>
  </main>

<script>

  //to plpace order

  $('#submit-form').submit((el) => {
    el.preventDefault()
    $.ajax({
      url:"/cart/checkout",
      method:'post',
      data:$("#submit-form").serialize(),

      success:(response) => {   
        if(response.cod){
          location.href='/codsuccess';
        } else{
          razorPayment(response)
        }
      }
    })
  }
)


function razorPayment(order) {
  console.log('--------razorpay----------');
console.log(order);
  var options = {
    "key":'rzp_test_8emA6zzli6nGP1',
    "amount":order.amount,
    "currency": "INR",
    "name":"Future Organics",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": order._id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "callback_url": 'http://localhost:3000/onlinesuccess',
    "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9000090000"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
  }
  console.log("Coming to last stage");

  var rzp1 = new Razorpay(options);
  rzp1.open();
}



</script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>

//TO APPLY COUPON
$('#couponForm').submit((e) => {
  e.preventDefault()

  const code = document.getElementById('code').value;
  const total = document.getElementById('total').innerHTML;

  if(code == ""){
      document.getElementById('error').style.display='inline'
      setTimeout(()=> document.getElementById('error').style.display='none',2000)
     }else{
         $.ajax({
            url:'/cart/checkout/applycoupon',
            method:'post',
            // dataType: "json",
            encode: true,
            data:
        
                $('#couponForm').serialize()+ `&total=${total}`
            ,
            success:((response)=>{
              if(response.errormessage===false){
                document.getElementById('error').style.display='inline'
                setTimeout(()=> document.getElementById('error').style.display='none',2000)
              }else if (response.status){
                    document.getElementById('success').style.display='inline'
                    document.getElementById('totalPrice').innerHTML=response.total
                    setTimeout(()=> document.getElementById('success').style.display='none',2000)
                    clicked=true
              }else if  (response.status == false){
                    document.getElementById('notsuccess').style.display='inline'
                    setTimeout(()=> document.getElementById('notsuccess').style.display='none',2000)
              }else {
                    
                    document.getElementById('expired').style.display='inline'
                    setTimeout(()=> document.getElementById('expired').style.display='none',2000);
                   
              }
              
                
            })
          })
     }
});

</script>

  <%- include('../users/layouts/foot')%>


  